@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    }

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #172b4d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.open{
    width: 250px;
}

.sidebar .details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    text-align: center;
    cursor: pointer;
}

.sidebar .details img{
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo img{
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.open .logo img {
    opacity: 1;
}

.sidebar.open .details .logo_name{
    opacity: 1;
    }

.sidebar .details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .details #btn{
    text-align: right;
}

.sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list{
    margin-top: 70px;
}

.sidebar.open .nav-list{
    margin-top:70px;
    height: 100%;
}

ul{
    padding-left: 0;
}

.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    }

.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #181918;
}

.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li a:hover{
    font-weight: 700;
    background: #3dc7dc;
    }

.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.profile {
    opacity: 0;
}

.sidebar.open .profile{
    opacity:1 ;
    height: 200px;
    padding: 15px;
    background: #e5e8ec;
    border-radius: 12px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.profile-details{
    align-items: center;
}

.welcome-text{
    font-size: 12px;
    text-align: center;
}

.user-status{
    display: block;
    text-align: center;
}
    
.login{
    display: block;
    text-align: center;
    border-radius: 5px;
}

.login button{
    border: none;
    width: 150px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    background-color: #3dc7dc;
}
    
.login button:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.button-wrapper{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    font-size: 12px;
}

.sign-up{
    transition: all 0.5s ease;
    color: #181918;
    text-align: center;
    text-decoration: none;
}

.sign-up button {
    border: none;
    background: #e5e8ec;
}
#signup{
    all:unset
}    
.sign-up button:hover{
    color: #0060f0;
    font-weight: 700;
}

#memberinfo{
    all:unset
}

.member-info {
    display: block;
    color: #181918;
    text-align: center;
    text-decoration: none;
}

.member-info button {
    border: none;
    background: #e5e8ec;
    }

.member-info button:hover{
    color: #0060f0;
    font-weight: 700;
}

.sidebar li.profile .text,
.sidebar li.profile .job{
    text-align: center;
}

.sidebar li.profile .job{
    font-size: 12px;
}
/*nav end*/

.main-contents{
    position: relative;
    background: #fff;
    min-height: 100vh;
    padding: 30px;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .main-contents{
    left: 250px;
    width: calc(100% - 250px);
}


.main-img-wrapper img{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
    transform: translateY(10px);
    }
    100% {
    transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
    transform: translateY(10px);
    }
    100% {
    transform: translateY(-10px);
    }
}

.table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-head a{
    text-decoration: none
    ;
}

footer{
    position: relative;
    background: #c1c7d0;
    max-height: 100vh;
    padding: 30px;
    top: 0;
    left: 78px;
    width: calc(800% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ footer{
    left: 250px;
    width: calc(100% - 250px);
}

.hidden{
    display: none;
}

.login-modal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1050;
}

.login-modal-wrapper{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.login-modal-contens{ 
    width: 25%;
    padding:30px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.login-modal-head{
    text-align: center;
    padding-bottom: 30px;
}

.login-modal-input input{
    all: unset;
    border-bottom: 3px solid #9096a0 ;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}

.login-modal-button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-modal-button-wrapper input {
    all: unset;
    background-color: #172b4d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-modal-form button {
    all: unset;
    background-color: #172b4d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


