* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #fff;
}

.form-group{
    display: flex;
    justify-content: center;
}
.form-group input {
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    width: 600px;
    height: 50px;
    background-color: #e5e8ec;
}

.form-group input:focus, button:focus {
    box-shadow: none;
    outline: none;
}

.search-btn{
    width: 90px;
    height: 40px;
    padding: 0 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #172b4d;
}

.search-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

h1,h2,h3,h4,h5,h6 {
    text-align: left;
    margin-bottom: 20px;
    line-height: 0.75;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #181918;
}

p {
    text-align: left;
    margin-bottom: 28px;
    font-size: 1em;
    font-weight: 700;
    line-height: 2.5;
    color: #c1c7d0;;
    letter-spacing: 0.01em;
}

#example{
    color: #0060f0;
}

